
@{
    ViewData["Title"] = "Best Seller";
}

<div class="text-center">
    <h1 class="display-4">Best Seller Motorbikes</h1>
    <h2>Index</h2>
    <p>Hello and Welcome to our best seller Motorbikes!</p>

</div>
