@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MotorbikeApp</h1>
    <h2>Index</h2>
    <p>Hello and Welcome to our MotorbikeApp!</p>

</div>
