
@{
    ViewData["Title"] = "Latest Products";
}

<div class="text-center">
    <h1 class="display-4">Latest Products</h1>
    <h2>Index</h2>
    <p>Hello and Welcome to our Latest Motorbike!</p>

</div>
